<h1>
  <%= #Team Name %>
</h1>

<h2><%= #Hero Name %></h2>
<p>
  Hero Power: <%= #Hero power %>
  Hero Bio: <%= #Hero bio %>
</p>

<h2><%= #Hero Name %></h2>
<p>
  Hero Power: <%= #Hero power %>
  Hero Bio: <%= #Hero bio %>
</p>

<h2><%= #Hero Name %></h2>
<p>
  Hero Power: <%= #Hero power %>
  Hero Bio: <%= #Hero bio %>
</p>
